#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    z-index: 2;
    cursor: pointer;
}

#overlayText {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: rgb(0, 0, 0);
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}