body, html {
    height: 100%;
    margin: 0;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    z-index: 2;
    cursor: pointer;
}

#overlayText {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: rgb(0, 0, 0);
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    text-align: center;
}

#welcome {
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#welcome h1 {
    text-align: center;
}

#welcome video {
    height: 50%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -1;
}

#introduction {
    /* margin: 5%; */
    margin-bottom: 10%;
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background-color: blanchedalmond; */
}

#introduction h1 {
    /* color: rgb(255, 155, 255); */
    font-size: 5rem;
    /* background-color: aqua; */
    margin-left: 15%;
}

#introTitleDiv {
    margin: 5%;
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

#introPhotoDiv {
    margin: 5%;
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

.photo {
    height: 30rem;
    width: 20rem;
    /* background-color: rgb(255, 212, 212); */
    object-fit: contain;
}

.photo h2 {
    text-align: center;
}

#schedule {
    margin-left: 20%;
    margin-right: 20%;
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    /* background-color: blanchedalmond; */
}

#schedule p {
    font-size: 2rem;
    text-align: justify;
}

.photoInline {
    width: 100%;
}

@media only screen and (max-width: 50rem) {
    #schedule p {
        font-size: 2rem;
        text-align: left;
    }
    
}

#story {
    margin-left: 20%;
    margin-right: 20%;
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}

#gallery {
    margin-left: 20%;
    margin-right: 20%;
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    /* background-color: blanchedalmond; */
}

#gallery h1 {
    font-size: 5rem;
}

.galleryPhoto {
    width: 100%;
}

#story p {
    font-size: 2rem;
    text-align: justify;
}

#footer {
    height: 100%;
    /* background-color: rgba(255, 255, 255, 0); */
    /* color: rgb(255, 255, 255); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    /* margin: auto; */
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 10%;
}

video {
    width: 100%;
    height: auto;
}